.main{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.drawer{
    color: white;
    flex: 1;
}

.logo{
    margin-right: 20px;
    color: white;
    font-weight: bold;

}

@media (min-width:700px){
    .main{
        visibility: hidden;
    }
}

.item{
    cursor: pointer;
}

.item:hover{
    background-color: rgba(128, 128, 128, 0.26);
}