.article{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.26);
    margin-left:0;
    margin-right:0;
}

.article p{
    margin-left: 5px;
}

.user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

.user img{
    border-radius: 50%;
}

.h4{
    margin-left: 20px;
}

.bottom{
    display: flex;
    justify-content: space-around;
    color: green;
    width: 100%;
    align-items: center;
    margin: 10px 0;
}


.img{
    height: 120px;
    width: 100%;
    max-width: 500px;
}

.pro{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.avatar{
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}